

body {

}

.wrap {
	max-width: 1150px;
	margin: 0 auto;
}

.content {
	background: $grey-light url(../img/bg-stripes.png) center center no-repeat;
	background-size: cover;
	padding-bottom: 30px;
}

.content-narrow {
	@extend .content-style;
	padding: 40px 20px;
	max-width: 900px;
	margin: 0 auto;
}

.content-wide {
	padding: 40px 20px;

	@include respond-to( 768px ) {
		padding: 40px;
	}

	.page-template-page-quiz-start & {	
		@include respond-to( 768px ) {
			min-height: 450px;
			padding: 40px $arrow-size 40px ($arrow-size*1.4)*6;
		}

		@include respond-to( 900px ) {
			min-height: 550px;
			padding-left: ($arrow-size*1.8)*6;
		}
	}
}

.sidebar {
	float: left;
	width: 27%;
	margin: 0 1% 0 1%;
	text-align: center;
}

.right-column {
	float: left;
	width: 69%;
	margin: 0 1%;
	padding: 30px;
}

.content-two-column {
	@extend .content-style;
	@include respond-to( 768px ) {
		padding: 30px 0;
	}
}

.fluid-width-video-wrapper {
	margin: 15px 0;
}

.half, .two-third, .three-quarter {
	@extend .content-style;
}

.quarter, .third, .half, .two-third, .three-quarter {
	padding: 20px;
}

.breadcrumbs {
	padding: 0 0 20px;
}

@include respond-to( 768px ) {
	.quarter, .third, .half, .two-third, .three-quarter {
		float: left;
	}

	.quarter {
		width: 23%;
		margin: 0 1%;
	}

	.third {
		width: 31%;
		margin: 0 1%;
	}

	.two-third {
		width: 65%;
		margin: 0 1%;
	}

	.three-quarter {
		width: 73%;
		margin: 0 1%;
	}
}


img {
	&.alignright {
		float: right;
		margin: 0 0 15px 15px;
	}

	&.alignleft {
		float: left;
		margin: 0 15px 15px 0;
	}

	&.aligncenter {
		display: block;
		margin: 0 auto;
	}
}

