@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,400italic,700italic);
.clearfix, .group {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .group:before, .group:after {
    content: "";
    display: table; }
  .clearfix, .clearfix:before, .clearfix:after, .group, .group:before, .group:after {
    clear: both; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #414042; }

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.2em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.9em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.1em; }

p {
  padding: 8px 0; }

strong {
  font-family: Lato, sans-serif;
  font-weight: 700; }

em {
  font-family: "Lato", sans-serif;
  font-style: italic; }

strong em, em strong, h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: italic; }

a {
  color: #2C4668;
  text-decoration: none;
  transition: opacity 400ms ease-in-out; }
  a:hover {
    text-decoration: underline; }

input, textarea {
  font-family: Lato, sans-serif;
  font-weight: 300; }

.content-style ol, .content-narrow ol, .right-column ol, .content-two-column ol, .half ol, .two-third ol, .three-quarter ol, .content-style ul, .content-narrow ul, .right-column ul, .content-two-column ul, .half ul, .two-third ul, .three-quarter ul {
  padding: 5px 0 5px 35px; }
  .content-style ol li, .content-narrow ol li, .right-column ol li, .content-two-column ol li, .half ol li, .two-third ol li, .three-quarter ol li, .content-style ul li, .content-narrow ul li, .right-column ul li, .content-two-column ul li, .half ul li, .two-third ul li, .three-quarter ul li {
    padding: 3px 0; }
  .content-style ol.gform_fields, .content-narrow ol.gform_fields, .right-column ol.gform_fields, .content-two-column ol.gform_fields, .half ol.gform_fields, .two-third ol.gform_fields, .three-quarter ol.gform_fields, .content-style ul.gform_fields, .content-narrow ul.gform_fields, .right-column ul.gform_fields, .content-two-column ul.gform_fields, .half ul.gform_fields, .two-third ul.gform_fields, .three-quarter ul.gform_fields {
    padding: 5px 0; }

.content-style ul, .content-narrow ul, .right-column ul, .content-two-column ul, .half ul, .two-third ul, .three-quarter ul {
  list-style-type: disc; }

.content-style ol, .content-narrow ol, .right-column ol, .content-two-column ol, .half ol, .two-third ol, .three-quarter ol {
  list-style-type: decimal; }

.content-style h1, .content-narrow h1, .right-column h1, .content-two-column h1, .half h1, .two-third h1, .three-quarter h1, .content-style h2, .content-narrow h2, .right-column h2, .content-two-column h2, .half h2, .two-third h2, .three-quarter h2, .content-style h3, .content-narrow h3, .right-column h3, .content-two-column h3, .half h3, .two-third h3, .three-quarter h3, .content-style h4, .content-narrow h4, .right-column h4, .content-two-column h4, .half h4, .two-third h4, .three-quarter h4, .content-style h5, .content-narrow h5, .right-column h5, .content-two-column h5, .half h5, .two-third h5, .three-quarter h5, .content-style h6, .content-narrow h6, .right-column h6, .content-two-column h6, .half h6, .two-third h6, .three-quarter h6 {
  padding: 10px 0 5px; }

.content-style blockquote, .content-narrow blockquote, .right-column blockquote, .content-two-column blockquote, .half blockquote, .two-third blockquote, .three-quarter blockquote {
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #60605B;
  border-left: 3px solid #a0a09b;
  margin: 10px 0 10px 20px; }

.content-style hr, .content-narrow hr, .right-column hr, .content-two-column hr, .half hr, .two-third hr, .three-quarter hr {
  border: 0;
  border-bottom: 1px solid #a0a09b;
  padding: 0;
  margin: 25px 0; }

.content-style button, .content-narrow button, .right-column button, .content-two-column button, .half button, .two-third button, .three-quarter button, .content-style input[type=submit], .content-narrow input[type=submit], .right-column input[type=submit], .content-two-column input[type=submit], .half input[type=submit], .two-third input[type=submit], .three-quarter input[type=submit], .content-style input[type=reset], .content-narrow input[type=reset], .right-column input[type=reset], .content-two-column input[type=reset], .half input[type=reset], .two-third input[type=reset], .three-quarter input[type=reset] {
  padding: 9px 45px 6px 12px;
  background: #ADB947 url(../img/icon-button-arrow.png) right center no-repeat;
  color: white;
  font-family: Lato, sans-serif;
  font-weight: 700;
  border: 3px solid white;
  box-shadow: 4px 4px 10px #878780;
  border-radius: 10px; }

h1, h2, h3, h4, h5, h6 {
  color: #2C4668; }
  .teal h1, .teal h2, .teal h3, .teal h4, .teal h5, .teal h6 {
    color: #71CACB; }
  .grey h1, .grey-light h1, .grey h2, .grey-light h2, .grey h3, .grey-light h3, .grey h4, .grey-light h4, .grey h5, .grey-light h5, .grey h6, .grey-light h6 {
    color: #60605B; }
  .lime h1, .lime h2, .lime h3, .lime h4, .lime h5, .lime h6 {
    color: #ADB947; }
  .navy h1, .navy h2, .navy h3, .navy h4, .navy h5, .navy h6 {
    color: #2C4668; }

header {
  padding-top: 30px; }
  header .logo {
    margin-right: 60px;
    padding: 0 0 10px 20px;
    max-width: 450px; }
    @media only screen and (min-width: 768px) {
      header .logo {
        padding-left: 40px; } }
  header nav {
    zoom: 1;
    position: relative; }
    header nav:before, header nav:after {
      content: "";
      display: table; }
    header nav, header nav:before, header nav:after {
      clear: both; }
    header nav button {
      position: absolute;
      right: 5px;
      top: -80px;
      width: 40px;
      height: 40px;
      border: 0;
      padding: 0;
      background: white;
      color: black;
      background: url(../img/icon-menu.png) center center no-repeat; }
      @media only screen and (min-width: 1024px) {
        header nav button {
          display: none; } }
    header nav ul.nav-menu {
      display: none;
      background: #93938e;
      position: relative;
      z-index: 1000;
      text-align: center;
      box-shadow: inset 0px 15px 22px -10px rgba(100, 100, 100, 0.3); }
      @media only screen and (min-width: 1024px) {
        header nav ul.nav-menu {
          display: block;
          zoom: 1;
          padding-left: 7px; }
          header nav ul.nav-menu:before, header nav ul.nav-menu:after {
            content: "";
            display: table; }
          header nav ul.nav-menu, header nav ul.nav-menu:before, header nav ul.nav-menu:after {
            clear: both; } }
      header nav ul.nav-menu li {
        box-shadow: inset 0px 15px 22px -10px rgba(100, 100, 100, 0.3); }
        @media only screen and (min-width: 1024px) {
          header nav ul.nav-menu li {
            box-shadow: none;
            position: relative;
            display: inline-block; } }
        header nav ul.nav-menu li a {
          display: block;
          font-family: Lato, sans-serif;
          font-weight: 300;
          padding: 15px 5px;
          font-size: 16px;
          line-height: 16px;
          color: white;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase; }
          @media only screen and (min-width: 1024px) {
            header nav ul.nav-menu li a {
              display: inline-block;
              padding: 15px 8px; } }
          @media only screen and (min-width: 1220px) {
            header nav ul.nav-menu li a {
              padding: 15px 15px; } }
        header nav ul.nav-menu li:hover a, header nav ul.nav-menu li.open a {
          background: #71CACB; }
        @media only screen and (min-width: 1024px) {
          header nav ul.nav-menu li:hover ul.sub-menu, header nav ul.nav-menu li.open ul.sub-menu {
            display: block; } }
        header nav ul.nav-menu li ul.sub-menu {
          display: none;
          margin-bottom: 3px; }
          @media only screen and (min-width: 1024px) {
            header nav ul.nav-menu li ul.sub-menu {
              position: absolute;
              left: 0;
              top: 46px;
              width: 230px;
              background: #71CACB;
              zoom: 1;
              text-align: left; }
              header nav ul.nav-menu li ul.sub-menu:before, header nav ul.nav-menu li ul.sub-menu:after {
                content: "";
                display: table; }
              header nav ul.nav-menu li ul.sub-menu, header nav ul.nav-menu li ul.sub-menu:before, header nav ul.nav-menu li ul.sub-menu:after {
                clear: both; } }
          header nav ul.nav-menu li ul.sub-menu li {
            box-shadow: inset 0px 5px 12px -10px rgba(100, 100, 100, 0.69);
            display: block; }
            header nav ul.nav-menu li ul.sub-menu li a {
              padding: 7px 5px;
              font-size: .9em;
              display: block; }
              @media only screen and (min-width: 1024px) {
                header nav ul.nav-menu li ul.sub-menu li a {
                  text-align: left;
                  padding: 8px 12px; }
                  header nav ul.nav-menu li ul.sub-menu li a:hover {
                    background: #78cdce; } }
  header .search {
    position: relative; }
    header .search input[type=text] {
      display: block;
      top: 0;
      right: 35px;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #acaca8;
      border: 0;
      padding: 0 15px;
      font-size: 15px;
      line-height: 35px; }
    header .search input[type=submit] {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 35px;
      height: 35px;
      border: 0;
      background: #464642 url(../img/icon-search.png) center center no-repeat;
      text-indent: -400px;
      cursor: pointer; }
      @media only screen and (min-width: 768px) {
        header .search input[type=submit] {
          right: -6px;
          top: -6px;
          bottom: -6px;
          width: 47px;
          height: 47px;
          border-radius: 50%;
          border: 6px solid white; } }
    @media only screen and (min-width: 768px) {
      header .search {
        position: absolute;
        top: 50px;
        right: 80px; } }
    @media only screen and (min-width: 1024px) {
      header .search {
        right: 40px; } }
  header .nwcua-logo {
    display: none; }
    @media only screen and (min-width: 768px) {
      header .nwcua-logo {
        display: block;
        position: absolute;
        top: -10px;
        right: 90px; } }
    @media only screen and (min-width: 1024px) {
      header .nwcua-logo {
        right: 50px; } }
    header .nwcua-logo a {
      opacity: .7;
      transition: opacity 400ms ease-in-out; }
      header .nwcua-logo a:hover {
        opacity: 1; }
  @media only screen and (min-width: 768px) {
    header {
      position: relative; }
      header .wrap {
        position: relative; } }

.wrap {
  max-width: 1150px;
  margin: 0 auto; }

.content {
  background: #ececec url(../img/bg-stripes.png) center center no-repeat;
  background-size: cover;
  padding-bottom: 30px; }

.content-narrow {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto; }

.content-wide {
  padding: 40px 20px; }
  @media only screen and (min-width: 768px) {
    .content-wide {
      padding: 40px; } }
  @media only screen and (min-width: 768px) {
    .page-template-page-quiz-start .content-wide {
      min-height: 450px;
      padding: 40px 40px 40px 336px; } }
  @media only screen and (min-width: 900px) {
    .page-template-page-quiz-start .content-wide {
      min-height: 550px;
      padding-left: 432px; } }

.sidebar {
  float: left;
  width: 27%;
  margin: 0 1% 0 1%;
  text-align: center; }

.right-column {
  float: left;
  width: 69%;
  margin: 0 1%;
  padding: 30px; }

@media only screen and (min-width: 768px) {
  .content-two-column {
    padding: 30px 0; } }

.fluid-width-video-wrapper {
  margin: 15px 0; }

.quarter, .third, .half, .two-third, .three-quarter {
  padding: 20px; }

.breadcrumbs {
  padding: 0 0 20px; }

@media only screen and (min-width: 768px) {
  .quarter, .third, .half, .two-third, .three-quarter {
    float: left; }
  .quarter {
    width: 23%;
    margin: 0 1%; }
  .third {
    width: 31%;
    margin: 0 1%; }
  .two-third {
    width: 65%;
    margin: 0 1%; }
  .three-quarter {
    width: 73%;
    margin: 0 1%; } }

img.alignright {
  float: right;
  margin: 0 0 15px 15px; }

img.alignleft {
  float: left;
  margin: 0 15px 15px 0; }

img.aligncenter {
  display: block;
  margin: 0 auto; }

.quiz-results {
  padding-top: 70px;
  text-align: center; }
  .quiz-results h1 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-weight: normal;
    line-height: 1.3em;
    color: #71CACB;
    padding: 20px 0; }
  .quiz-results h2 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-weight: normal;
    color: #2c2c29;
    line-height: 1.3em;
    padding: 20px 0; }

.gform_confirmation_message {
  background: white;
  border: 3px solid #ADB947;
  color: #ADB947;
  font-family: Lato, sans-serif;
  font-weight: 700;
  padding: 5px 8px; }

.gform_wrapper {
  overflow: inherit;
  margin: 0;
  margin-right: -1.3%;
  max-width: 100%; }
  .gform_wrapper .gfield {
    margin: 20px 0; }

footer {
  background: #93938e url(../img/bg-waves.png) center center no-repeat;
  background-size: cover;
  color: white;
  zoom: 1; }
  footer:before, footer:after {
    content: "";
    display: table; }
  footer, footer:before, footer:after {
    clear: both; }
  footer .column {
    padding: 20px; }
    @media only screen and (min-width: 768px) {
      footer .column {
        float: left;
        width: 33%;
        border-left: 4px solid white;
        min-height: 400px; }
        footer .column.first {
          width: 32%;
          border-left: 0; } }
    @media only screen and (min-width: 1024px) {
      footer .column {
        padding: 30px 40px; } }
  footer h3 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.6em;
    line-height: 1.2em;
    color: white; }
  footer a {
    color: white;
    text-decoration: none; }
  footer nav a {
    display: block;
    padding: 3px; }
  footer .social {
    padding: 10px 0;
    text-align: center; }
